/*responsividade para telas menores que 768px*/
@media (max-width: 768px) {
    .container-body {
        flex-direction: column;
    }
}

body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    align-items: left;
    justify-content: left;
    height: 100vh; 
    
}
/*#################################
    HEADER  
  ###############################*/
header {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

nav {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

nav a{
    padding: 8px 12px;
}

/*####################################
    MAIN - CORPO PRINCIPAL DA PÁGINA
  ###################################*/
main h2{
    color: #067a55;

}

.menu-navegacao:hover{
    border-bottom: 2px solid black;
}

/*  DIV CENTRAL BODY  */
.container-body {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Div da esquerda ocupando 50% */
#div-esquerda {
    width: 50%;
    height: 100vh;
    padding: 40px;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

/* Div da direita ocupando 50% */
#div-direita {
    width: 50%;
    height: 80%;
    padding: 40px;
  }
  
/* Slider com imagens sobrepostas */
.slider {
position: relative;
width: 50%;
height: 50%;
}

.slide {
position: absolute;
top: 0;
left: 0;
width: 100%;
opacity: 100%;
transition: opacity 1s ease-in-out;
}

main {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main section{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.container-login{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: blanchedalmond;
    padding: 5%;
    border-radius: 4%;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}

input, button {
    padding: 10px;
    width: 250px;
    font-size: 16px;
}

#botao-entrar{
    margin-top: 20px;
    border: none;
    background-color: white;
    font-weight: bold;
    border: #1c4c38 solid 1px;
    border-radius: 5px;
    color: #1c4c38;

}

#botao-entrar:hover{
    cursor: pointer;
    border: none;
    background-color: #a6f4c5;

}

a{
    color: black;
    text-decoration: none;

}