body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }
  
  .logo-imd {
    text-decoration: none;
    color: #067a55;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 2rem;
  }
  
  header h2 {
    font-size: 1.5rem;
    color: #333;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .formulario {
    max-width: 400px;
    width: 100%;
  }
  
  .btn-outline-success {
    border-radius: 8px;
    font-weight: bold;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .formulario {
      padding: 0 1rem;
    }
  }
  