body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    
}

header {
    background-color: #1E3A8A;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    color: white;
    text-align: center;
   padding-top: 10px;
}

nav {
    align-items: center;
    justify-content: left;
    display: flex;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    padding: 10px;
}

.menu-navegacao:hover{
    border-bottom: 2px solid black;
}

main {
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

main section{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.container-login{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: blanchedalmond;
    padding: 5%;
    border-radius: 4%;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}

input, button {
    padding: 10px;
    width: 250px;
    font-size: 16px;
}

#botao-entrar{
    margin-top: 20px;
    border: none;
    background-color: aquamarine;
    font-weight: bold;

}

#botao-entrar:hover{
    cursor: pointer;
    border: none;

}

a{
    color: black;

}